<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control">
        <div *ngIf="registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched">
            <div *ngIf="usernameErrors && usernameErrors['hasError']('required')">
                Username obbligatorio.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control">
        <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
            <div *ngIf="emailErrors && emailErrors['hasError']('required')">
                Email obbligatoria.
            </div>
            <div *ngIf="emailErrors && emailErrors['hasError']('email')">
                Formato email non valido.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control">
        <div *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
            <div *ngIf="passwordErrors && passwordErrors['hasError']('required')">
                Password obbligatoria.
            </div>
            <div *ngIf="passwordErrors && passwordErrors['hasError']('minlength')">
                La password deve avere almeno 6 caratteri.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Conferma Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
        <div *ngIf="
                registrationForm.get('confirmPassword')?.invalid && 
                registrationForm.get('confirmPassword')?.touched">
            <div *ngIf="confirmPasswordErrors && confirmPasswordErrors['hasError']('required')">
                Conferma password obbligatoria.
            </div>
        </div>
    </div>
    <div formArrayName="interests">
        <div *ngFor="let interest of interests.controls; let i = index">
            <input type="text" [formControlName]="i" class="form-control">
            <button type="button" (click)="removeInterest(i)">Rimuovi</button>
        </div>
        <button type="button" (click)="addInterest()">
            Aggiungi Interesse
        </button>
    </div>
    <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-primary">
        Registrati
    </button>
</form>